{% extends 'base.html.twig' %}
{% block login %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="col-sm-12 login">
            <a class="link admin" href="{{ path('_welcome') }}">Home</a> |
            <a class="link admin" href="{{ path('_admin_vire') }}">Admin</a> |
            <a class="link admin active" href="{{ path('_admin_add_post') }}">Add Post</a> |
            <a class="link admin" href="{{ path('_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="col-sm-12 login"><a class="link" href="{{ path('_login_route') }}">Login</a></div>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="wrapper">
            <div style="text-align: center;">
                <span class="headline_new_post">Add New Post!</span>
            </div>
        <hr>
            <div id="Posts">
                {{ form_start(form) }}
                {{ form_label(form.title, null, {
                    'label': 'Title',
                    'label_attr': {'class': 'foo'}
                }) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.content, null, {
                    'label': 'Post',
                    'label_attr': {'class': 'foo'}
                }) }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control post_content','rows':'3'}}) }}
                {{ form_label(form.author, null, {
                    'label': 'Author',
                    'label_attr': {'class': 'foo'}
                }) }}
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                {{ form_end(form) }}
            </div>

    </div>
{% endblock %} {% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;

        }

        .post_content{
            height: auto!important;
        }
        .headline_new_post {
           font-size:25px;
        }
        input[type="text"] {
            margin-bottom: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

        }
        .admin{
            padding-left:15px;
            padding-right: 15px;
        }
        .error {
            text-align: center;
            max-width: 380px;
            margin: 0 auto;

        }
        .error > p {
            margin-bottom: 0!important;
        }
        input[type="password"] {
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .wrapper {
            margin:200px auto;
            width:800px;
        }

        .login{
            text-align: right;
        }
        a.link, a:hover.link, a:active.link{
            color:#fff!important;
            text-decoration: none;
        }
        h1,
        h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        .active{
            text-decoration: underline!important;
        }
        a.link, a:hover.link, a:active.link{
            color:#fff!important;
            text-decoration: none;
        }
        a.goBack, a:hover.goBack, a:active.goBack{
            color:#455A64!important;
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }




        @media (min-width: 768px) {

            #status a,
            #next a {
                display: block;
            }
            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

        }
    </style>
{% endblock %}